.section-category {
  background-color: $colorGray-98;
  margin-top: 80px;
  .container {
    @media (max-width: 1199px) {
      // max-width: 100%;
    }
  }
  .button-back {
    @include fluidValue(margin-left, 140, 50, 1680, 768);

    button {
      text-transform: uppercase;
      background: none;
      border: none;
      padding-bottom: 52px;
      cursor: pointer;
    }
  }

  .circle {
    position: relative;
    display: block;
    padding-bottom: 34px;

    img {
      transform: translate(20%, 20%);
      @include fluidValue(width, 126, 84, 1680, 1199);
      @include fluidValue(height, 126, 84, 1680, 1199);
      @include fluidValue(width, 84, 56, 1199, 767);
      @include fluidValue(height, 84, 56, 1199, 767);
    }
  }

  .box-circle {
    position: absolute;
    border-radius: 50%;
    color: $colorPink;
    border: 1px solid currentColor;
    @include fluidValue(width, 180, 120, 1680, 1200);
    @include fluidValue(height, 180, 120, 1680, 1200);
    @include fluidValue(width, 120, 80, 1199, 767);
    @include fluidValue(height, 120, 80, 1199, 767);
  }
}

.description-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include fluidValue(gap, 174, 77, 1680, 768);
  @include fluidValue(font-size, 32, 22, 1680, 768);
  @include fluidValue(line-height, 40, 33, 1680, 768);
  max-width: 790px;

  @media (max-width: 768px) {
    display: none;
  }
  p {
    text-transform: uppercase;
    color: $colorPink;
    font-family: $font-family-base;
    font-style: oblique;
    @include fluidValue(font-size, 22, 16, 1680, 1199);
    @include fluidValue(line-height, 33, 24, 1680, 1199);
    margin: 0;

    @media (max-width: 1199px) {
      font-style: unset;
      font-family: $font-mercury;
    }
    @media (max-width: 767px) {
    }
  }

  h3 {
    font-family: $font-ideal-sans;
    font-weight: $font-weight-normal;
    @include fluidValue(font-size, 32, 22, 1680, 768);
    @include fluidValue(line-height, 40, 33, 1680, 768);
  }

  div {
    display: grid;
    row-gap: 20px;
    @include fluidValue(font-size, 18, 16, 1680, 1199);
    @include fluidValue(line-height, 27, 24, 1680, 1199);
  }
}

.lists-names {
  font-family: $font-ideal-sans;
  font-weight: $font-weight-medium;
}

.description-names {
  @include fluidValue(width, 614, 480, 1680, 1199);

  div {
    font-family: $font-ideal-sans;
    font-style: italic;
  }
}

.description-lists {
  @include fluidValue(margin-left, 140, 36, 1680, 768);
}

.category-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}
