.section-cupiditate {
  background-color: $colorGray;
  height: 412px;
  @include fluidValue(margin-bottom, 200, 70, 1680.1199);

  .container {
    max-width: 790px;
    @media (max-width: 1199px) {
      max-width: 690px;
    }
    h2 {
      padding: 100px 0 20px;
    }
    em {
      @include fluidValue(font-size, 22, 18, 1680.1199);
      @include fluidValue(line-height, 33, 27, 1680.1199);
    }
  }
}
