.section-dropdown {
  margin-top: 100px;
  margin-bottom: 120px;

  .container {
    @include grid;

    button {
      margin-top: 40px;
    }

    @media (max-width: $mediaMaxPhone) {
      grid-template-columns: auto;
      gap: 1px;
    }
  }
}

.circle {
  @include circle;
  width: $width;
  height: $height;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  @media (max-width: $mediaMaxPhone) {
    width: $width-phone;
    height: $height-phone;
  }

  @media (max-width: $mediaMaxTablet) {
    width: $width-tablet;
    height: $height-tablet;
    padding: 9px;
  }
}

.line-wrapper {
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.horizontal {
  @include horizontal;
}

.vertical {
  @include vertical;
  @extend .horizontal;
}

.vertical.open {
  transform: rotate(180deg);
}

.dropdown-text {
  @include lineClamp(3);
  @include dropdown-text-fonts;
  font-family: $font-family-base;
  max-width: 760px;
  justify-content: center;

  @media (max-width: $mediaMaxPhone) {
    @include lineClamp(2);
    font-style: italic;
    width: 100%;
  }

  @media (max-width: $mediaMaxTablet) {
    font-style: italic;
    max-width: 500px;
    width: 100%;
  }
}

.dropdown-text.open {
  display: block;
  @extend .dropdown-text;
}
