// .main-footer {
//   background-color: $colorDarkBlue;
//   color: $colorWhite;
//   display: grid;
//   grid-gap: 70px;
//   align-content: center;
//   width: 1680px;
//   height: 753px;
//   grid-template-columns: 1fr 1fr;
//   padding: 120px 105px 120px 105px;

//   a {
//     color: $colorWhite;
//     text-decoration: none;
//     font-weight: 400;
//     letter-spacing: 1px;
//   }
//   .contact_Us {
//     text-transform: uppercase;
//     font-weight: 400;
//   }
//   .insomniac {
//     padding-top: 230px;
//   }
//   h3 {
//     font-weight: normal;
//     font-size: 24px;
//     line-height: 42px;
//     // margin-left: 70px;
//   }
//   p {
//     font-size: 18px;
//     line-height: 27px;
//     letter-spacing: 1px;
//   }
//   .about-footer {
//     display: grid;
//     grid-template-rows: max-content 1fr max-content;
//   }
// }

.main-footer {
  background-color: $colorDarkBlue;
  color: $colorWhite;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
    padding: 125px 120px 125px 120px;
  }
}
