.container-lorem {
  display: flex;
  flex-direction: row;
  gap: 125px;
  justify-content: center;
  @include fluidValue(padding-top, 120, 70, 1680, 1199);
  @include fluidValue(padding-bottom, 120, 70, 1680, 1199);

  @media (max-width: 1199px) {
    max-width: 100%;
    flex-direction: column;
    gap: 0;
    padding: 70px 36px;
    flex-direction: column-reverse;
  }

  @media (max-width: 767px) {
    padding: 50px 12px;
  }

  .description-Lorem {
    width: 634px;

    @media (max-width: 1199px) {
      width: unset;
    }
  }

  .descript-lorem {
    width: 324px;

    @media (max-width: 1199px) {
      width: unset;
    }
  }
}

.title-lorem,
.title-Lorem {
  span {
    font-family: $font-ideal-sans;
    font-weight: $font-weight-medium;
    font-size: 28px;
    line-height: 42px;

    @media (max-width: 767px) {
      line-height: 36px;
    }
  }

  a {
    color: $colorWhite;
  }
}

.decript-lorem,
.description-lorem {
  letter-spacing: 1px;
  margin-top: 30px;
}

.description-lorem {
  @media (max-width: 1199px) {
    padding: 54px 0;
  }
}

.link-ducimus {
  @include fluidValue(margin-top, 98, 40, 1680, 1199);
}

.title-lorem {
  @media (max-width: 1199px) {
    padding-top: 36px;
  }
}
