.main-footer {
  background-color: $colorDarkBlue;
  color: $colorWhite;
  font-family: $font-ideal-sans;
}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 125px;
  padding-bottom: 123px;
  padding-top: 120px;
}
.footer-description {
  span {
    font-size: 28px;
    line-height: 42px;
  }

  a {
    color: $colorWhite;
  }
  p {
    padding-bottom: 80px;
  }
}
.contacts {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-weight-semibold;
}
.contact-us {
  padding-top: 80px;
  img {
    margin-left: 22px;
  }
}

.descriptionIDB {
  margin-top: 75px;
}
