.section-hashtags {
  background: url("/img/svg/decor.svg") center / 100% 70% no-repeat;
  padding-bottom: 100px;
  background-size: cover;
  background-position-y: 20%;

  @media (max-width: 767px) {
    background: none;
    padding-bottom: 0;
  }

  .container {
    position: relative;
    background-color: $colorWillowBrook;
    font-size: 22px;
    line-height: 33px;
    padding: 100px;
    max-width: 980px;
    height: 574px;

    span {
      font-family: $font-ideal-sans;
      font-weight: $font-weight-medium;
    }

    @media (max-width: 767px) {
      max-width: 100%;
      height: 672px;
      padding: 36px;
    }
  }
}

.fa-envelope-o,
.fa-facebook-official,
.fa-download {
  color: $colorBlack;
}

.hashtags {
  font-family: $font-ideal-sans;
  font-weight: $font-weight-light;

  @media (max-width: 767px) {
    max-width: 296px;
  }
}

.fa-twitter {
  color: $colorPink;

  @media (max-width: 1199px) {
    color: $colorBlack;
  }
}

.socialMedia {
  display: flex;
  gap: 40px;
}

.find-link {
  @media (max-width: 767px) {
    max-width: 290px;
    font-size: 14px;
    line-height: 21px;
  }
}
