.content-hero {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  margin-left: 105px;
  margin-top: 120px;
  .hero-hero {
    margin-right: 120px;
    h1 {
      font-weight: 400;
    }
    h4 {
      color: $colorPink;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-top: 101px;
    }
  }
  .img-hero {
    img {
      width: 574px;
      height: 574px;
      padding-left: 120px;
      padding-bottom: 120px;
    }
  }
}
