.hero-content {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;

  .hero-hero {
    margin-top: 120px;
    margin-left: 100px;

    h1 {
      font-weight: bold;
    }
    h4 {
      font-size: 24px;
      color: $colorPink;
      text-transform: uppercase;
      line-height: 28px;
      letter-spacing: 1px;
      padding-top: 101px;
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
  .img-hero {
    img {
      width: 574px;
      height: 574px;
      margin-left: 120px;
      margin-top: 162px;
      margin-right: 180px;
    }
  }
}
