.section-ids {
  position: relative;
  margin-bottom: 80px;
  @include fluidValue(padding-bottom, 80, 30, 1680, 768);
  @include fluidValue(padding-top, 80, 30, 1680, 768);

  @media (max-width: 1199px) {
    margin-bottom: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    background-color: $colorBlue;
    @include fluidValue(height, 576, 492, 1680, 1199);
    z-index: -1;

    @media (max-width: 767px) {
      max-width: 160px;
      height: 100%;
    }
  }

  .container {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      display: contents;
    }
  }
}

.ids-content {
  @include fluidValue(width, 740, 456, 1680, 1199);
  @include fluidValue(margin-left, -105, 0, 1336, 768);
  @include fluidValue(padding, 100, 50, 1336, 768);
  // margin: 40px 0;
  background-color: $colorRed;
  color: $colorWhite;
  z-index: 1;

  @media (max-width: 767px) {
    // max-width: 100%;
    padding: 50px 12px;
    width: unset;
    margin-left: unset;
  }

  h2 {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: normal;
  }

  p {
    font-weight: normal;
    font-size: 20px;

    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.ids-img {
  margin-left: -300px;
  z-index: 0;

  @media (max-width: 1199px) {
    margin-left: -200px;
    width: 100%;
  }
  @media (max-width: 767px) {
    display: block;
    // max-width: 100%;
    // height: auto;
    margin-left: unset;
  }

  img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }
}
