.section-information {
  margin-top: 118px;
  margin-bottom: 100px;
  .borderLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // word-wrap: break-word;
    position: relative;
    border-left: solid 2px black;

    // border-top-left-radius: 5px;
    // border-bottom-left-radius: 5px;
    height: 250px;
    width: 400px;
  }
  .borderLeft::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -1px;
    height: 5px;
    width: 150px;
    border-top: solid 2px black;

    // border-top-left-radius: 5px;
  }

  .borderLeft::after {
    content: "";
    position: absolute;
    top: 244px;
    left: -2px;
    width: 900px;
    // height: 5px;
    border-bottom: solid 2px black;
  }

  // border-bottom-left-radius: 5px;

  // margin-left: 345px;

  // fieldset {
  //   border: 1px solid $colorPink;
  //   background: $colorWhite;
  //   @include fluidValue(width, 980, 696, 1680, 1199);
  //   // @include fluidValue(height, 272, 263, 1680, 1199);

  //   legend {
  //     background: $colorWhite;
  //     color: $colorPink;
  //     padding: 50px 100px;
  //     margin-left: 100px;
  //     @media (max-width: 1199) {
  //       margin-left: 50px;
  //     }
  // .border-information {
  //   &::before {
  //     content: open-quote;
  //     position: absolute;
  //     font-weight: bold;
  //     font-size: 180px;
  //     color: $colorPink;
  //     font-style: italic;
  //     left: 450px;
  //   }
  // }

  // @include fluidValue(width, 980, 696, 1680, 1199);
  // @include fluidValue(height, 272, 263, 1680, 1199);

  // max-width: 980px;

  h4 {
    font-weight: $font-weight-normal;
    font-style: italic;
    font-weight: $font-weight-light;

    // text-align: center;
    padding: 82px 95px 10px;
  }
  p {
    font-weight: $font-weight-medium;
    font-size: 18px;
    line-height: 27px;
    padding: 0 190px 60px;
  }
}
