.section-information {
  @include fluidValue(margin-top, 118, 70, 1680, 767);
  @include fluidValue(padding-bottom, 100, 50, 1680, 767);
  .container {
    @media (max-width: 1199px) {
      max-width: 790px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  .description-border {
    position: relative;
    border: 1px solid $colorPink;
    max-height: 297px;

    &::before {
      content: open-quote;
      position: absolute;
      font-weight: bold;
      font-size: 150px;
      color: $colorPink;
      font-style: italic;
      top: -10px;
      left: 150px;
      height: 30px;
      background: #fff;
      padding: 0 60px;
      @media (max-width: 767px) {
        font-size: 80px;
        left: 68px;
      }
    }
  }

  h4 {
    font-weight: $font-weight-normal;
    font-style: italic;
    font-weight: $font-weight-light;
    text-align: center;
    padding: 82px 95px 10px;

    @media (max-width: 1199px) {
      padding: 81px 60px 10px;
    }
    @media (max-width: 767px) {
      padding: 10px 22px;
    }
  }
  p {
    font-weight: $font-weight-medium;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    padding: 0 190px 60px;
    @media (max-width: 767px) {
      padding: 0 10px 40px;
    }
  }
}
