.section-iusto {
  @include fluidValue(margin-top, 200, 100, 1680, 1199);
  @include fluidValue(margin-bottom, 100, 50, 1680, 1199);

  .container {
    max-width: 790px;

    @media (max-width: 1199px) {
      max-width: 690px;
    }

    h2 {
      font-family: $font-ideal-sans;
      font-weight: $font-weight-normal;
      padding-bottom: 20px;
    }

    em {
      font-family: $font-ideal-sans;
      font-weight: $font-weight-normal;
      @include fluidValue(font-size, 22, 18, 1680.1199);
      @include fluidValue(line-height, 33, 27, 1680.1199);
    }
  }
}
