.section-message {
  margin-bottom: 100px;
  position: relative;
  .container {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 607px);
    height: calc(100% - 272px);
    background-color: $colorTurquoise;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(50% - 607px);
    height: calc(423px);
    background-color: $colorRed;
    z-index: -1;
  }
}
.message-contact-info {
  max-width: 445px;
  background-color: $colorGreen;
  color: $colorWhite;
  padding: 40px 65px 60px 65px;
  position: absolute;
  bottom: 0;
  a {
    color: $colorWhite;
  }
}
.message-image {
  img {
    display: block;
  }
}
.message-contact {
  position: relative;
  min-height: 777px;
}
.message-description {
  position: relative;
  .description-text {
    position: absolute;
    background-color: $colorGray;
    padding: 120px 115px 93px 115px;
    max-height: 700px;
    bottom: 0;

    h5 {
      color: $colorPink;
      padding-top: 20px;
      font-weight: normal;
      padding-bottom: 30px;
    }
  }
}
