.message {
  margin-top: 119px;

  .message-content {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    .rectangle {
      background-color: $colorTurquoise;
      width: 285px;
      height: 516px;
    }
    .rectangleSecond {
      background-color: $colorGrey;
      width: 769px;
      height: 659px;
      margin-top: 227px;
      padding-top: 120px;
      padding-right: 114px;
      padding-left: 115px;

      #ids-message {
        color: $colorPink;
      }
    }
    .rectangleThird {
      background-color: $colorRed;
      width: 181px;
      height: 423px;
      margin-top: 466px;
    }
  }
  .img-message {
    width: 444px;
    height: 624px;
    .rectangleGreen {
      background-color: $colorGreen;
      color: $colorWhite;
      width: 445px;
      height: 263px;
      margin-top: -8px;
      padding-top: 41px;
      padding-left: 65px;
    }
  }
}
