.section-panorama {
  max-width: 100%;
  margin: 100px 0 20px 0;
  padding: 0;
}

h5 {
  font-family: $font-ideal-sans;
  margin-left: 180px;
  font-style: italic;
  font-weight: $font-weight-normal;
  color: $colorLightGray;
  padding-top: 50px;
}
