.section-tablet {
  margin-bottom: 100px;
  margin-top: -100px;

  .tablet-border {
    position: relative;
    border: 1px solid $colorPink;
    margin-top: 70px;
    height: 297px;

    &::before {
      content: "\201C";
      position: absolute;
      font-weight: bold;
      font-size: 120px;
      color: $colorPink;
      font-style: italic;
      top: -10px;
      left: 150px;
      height: 30px;
      background: #fff;
      padding: 0 40px;
      @media (max-width: 767px) {
        font-size: 80px;
        left: 68px;
      }
    }
  }

  h4 {
    font-weight: $font-weight-normal;
    font-style: italic;
    font-weight: $font-weight-light;
    text-align: center;
    padding: 81px 60px 10px;
    @media (max-width: 767px) {
      padding: 60px 22px 10px;
    }
  }
  p {
    font-weight: $font-weight-medium;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 0 60px;
    @media (max-width: 767px) {
      padding: 0 10px 40px;
    }
  }

  @media (min-width: 1199px) {
    display: none;
  }
}
