.vision-section {
  background-color: $colorBlue;
  color: $colorWhite;
  .vision-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .engagement {
      width: 343px;
      height: 200px;
      margin-top: 120px;
      margin-left: 285px;
    }
    .text-vision {
      .text-first {
        p {
          font-style: italic;
          font-size: 22px;
          line-height: 33px;
          margin-top: 120px;
          margin-right: 285px;
        }
      }
      .text-second {
        p {
          margin-top: 30px;
          margin-right: 285px;
        }
      }
    }
  }
}
.years {
  padding: 50px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;

  .container-years {
    border-top: 2px solid $colorWhite;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }

  .link {
    position: relative;
    margin-top: 10px;
    width: 100%;
    font-style: italic;
  }

  .link a {
    text-decoration: none;
    color: $colorWhite;
  }

  .link::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    transform: translatex(-50%);
    border: 2px solid $colorWhite;
  }

  .active::after,
  .link:hover::after {
    background: $colorPink;
    border: 2px solid $colorPink;
  }
}
