.section-voluptates {
  margin-bottom: 60px;

  .container {
    max-width: 790px;

    @media (max-width: 1199px) {
      max-width: 695px;
      height: 400px;
    }

    h2 {
      font-weight: $font-weight-normal;
      font-family: $font-ideal-sans;
      margin-bottom: 20px;
    }

    em {
      font-weight: $font-weight-normal;
      font-family: $font-ideal-sans;
      @include fluidValue(font-size, 22, 18, 1680.1199);
      @include fluidValue(line-height, 33, 27, 1680.1199);
    }

    h3 {
      font-weight: $font-weight-normal;
      font-family: $font-mercury;
      color: $colorTurquoise;
      font-style: italic;
      padding-top: 20px;
    }
  }
}
