<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Home Page" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="description" content="Home Page Description" />
    <meta name="keywords" content="Home Page Keywords" />
    <title>Home Page</title>
    <!-- <link rel="shortcut icon" href="img/favicon/favicon.ico" /> -->
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header class="header-main">
      <div class="logo">
        <a href="index.html"><img src="img/logo.jpg" alt="no-photo" /></a>
        <nav class="header-nav">
          <a class="active" href="index.html">About us</a>
          <a href="#management">Knowledge Management Journey</a>
          <a href="#solution">Knowledge Solutions</a>
        </nav>
        <a class="download-pdf" href="">Download PDF</a>
      </div>
    </header>
    <!-- .main-header -->
    <main class="main-wrapper">
      <section class="hero">
        <div class="hero-content">
          <div class="hero-hero">
            <h1>Welcome to the insert some lorem copy here</h1>
            <h4>Vision, Learning, Collaboration.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="img-hero">
            <img src="img/hero.jpg" alt="photo-hero" />
          </div>
        </div>
      </section>
      <!--.Hero-->
      <section class="about">
        <div class="about-content">
          <div class="about-IDS">
            <h6>About</h6>
            <h3>IDS &apos;s Knowledge Management in Action</h3>
          </div>
          <div class="text-content">
            <div class="img-about">
              <img src="img/about.jpg" alt="no-photo" />
            </div>
            <div class="boxed">
              <p>
                Sed metus ligula, auctor eget sagittis eu, elementum vel est.
                Nam in dolor bibendum, mollis felis eget, ullamcorper odio.
                Praesent nunc nisi, rutrum mollis cursus vel, aliquet a nunc.
                Sed a varius sapien. Nulla et massa faucibus, pharetra felis at,
                aliquam neque. Maecenas volutpat malesuada erat eu finibus.
                Proin in magna id massa pharetra rutrum eu nec est. Etiam
                ultrices tortor sapien, placerat ultrices nisl viverra non.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--.About-->

      <section class="message">
        <div class="message-content">
          <div class="rectangle">
          </div>
          <div class="img-message">
            <img src="img/message.jpg" alt="no-photo">
            <div class="rectangleGreen">
              <h4>Lord Voldemort</h4>
              <p>Vice-President for Knowledge Management and Sustainable Development Activities
                <br>
                <br>
                lordVoldemort@example.com
              </p>
            </div>
          </div>
          <div class="rectangleSecond">
            <h2>IDS &apos;s Message</h2>
            <p id="ids-message">Knowledge management has always been intertwined with the work of Insomniac Design Study (IDS).</p>
            <p>Sed aliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat volutpat. Curabitur ante lorem, vehicula ut lacinia cursus, posuere nec turpis. Praesent bibendum turpis ut leo porttitor, sit amet tempor turpis convallis. Nullam nec pharetra turpis, sed elementum arcu. Nullam venenatis sit amet justo id euismod. Nulla dictum ligula commodo venenatis luctus. Duis at enim suscipit, luctus nunc eu, varius lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eu lacus congue, lacinia leo non, facilisis tortor. Nam ultricies enim at dolor porta, at malesuada lorem luctus. </p>
          </div>
          <div class="rectangleThird"></div>
       </section>
      <!--.Message-->
      <section class="text-section">
        <div class="content-text">
          <div class="button">
            <button class="circle">&#65291;</button>
         <p>Duis at enim suscipit, luctus nunc eu, varius lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              <br> Mauris eu lacus congue ...</p>
        </div>
      </div>
      </section>
      <!----.Text-->
    </main>
    <!-- .main-wrapper -->
    <footer class="main-footer">
      <div class="about-footer">
        <h3>About IDB Knowledge Advisory Services Center</h3>
        <p>
          Sed aliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat
          volutpat. Curabitur ante lorem, vehicula ut lacinia cursus, posuere
          nec turpis. Praesent bibendum turpis ut leo porttitor, sit amet tempor
          turpis convallis. Nullam nec pharetra turpis, sed elementum arcu.
          Nullam venenatis sit amet justo id euismod. Nulla dictum ligula
          commodo venenatis luctus. Duis at enim suscipit, luctus nunc eu,
          varius lacus. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis egestas. Mauris eu lacus congue, lacinia
          leo non, facilisis tortor. Nam ultricies enim at dolor porta, at
          malesuada lorem luctus. Maecenas id porttitor magna. Suspendisse
          aliquet semper nulla, in aliquam elit auctor quis. Vestibulum vel
          turpis nibh.
        </p>
        <div class="contact_Us"><a href="">Contact us &#8594;</a></div>
      </div>
      <div class="about-footer">
        <h3>About IDB</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus
          nulla, mollis ac facilisis id, auctor sed justo. Sed ut consectetur
          massa. Fusce tristique semper justo, ac porta tortor consectetur a. Ut
          ullamcorper vel eros non efficitur. Fusce eu tortor ipsum. Suspendisse
          varius interdum dapibus. Suspendisse potenti.
        </p>
        <div class="insomniac">
          <a href="">&copy; 2021 Insomniac Design Study </a>
          <br />
          Website created by Insomniac Design, Inc.
        </div>
      </div>
    </footer>
    <!-- .main-footer -->
    <script src="js/app.js"></script>
  </body>
</html>
